*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


a:hover{
    text-decoration: none;
}

#sub_menu{
    color: white !important;
}

#sub_menu:hover{
    color: black !important;
}
@media(max-width:858px){
   
    .btn {
        margin:0.6rem;
    }
    #read_online{
      width:13rem;
    }
}