{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'subjects/feedback.css'%}">
    <title>Feedback</title>

</head>
<body>
    <h1>FEEDBACK</h1>
    <form action="#" >
        <p>Please enter your feedback</p>
        <label><input type="radio" text="feedback_text" name="radioset">Worst</label>
        <label><input type="radio" text="feedback_text" name="radioset">Bad</label>
        <label><input type="radio" text="feedback_text" name="radioset">Good</label>
        <label><input type="radio" text="feedback_text" name="radioset">Better</label>
        <label><input type="radio" text="feedback_text" name="radioset">Excellent</label>


    </form>
</body>
</html>