*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav
{
    height: 64px;
    width: 100vw;
    background: #132E32;
}

.main
{
    height: calc(100vh - 100px);
    width: 100vw;
}

#Chap_name:hover{
    text-decoration: underline;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }