{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'subjects/english.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <nav class="eng_nav" >
        <h1 class="heading" style="float:left" >English</h1>
        <ul id="list">
            <li id="About" style:float:right><a href="#">Home</a></li>
            <li id="Home"  ><a href="#">Subjects</a></li>
            <!-- <li id="Settings"><a href="#"></a></li> -->
        </ul>
    </nav>
    <div class="card" style="width: 18rem;padding:20px;background-color:black;">
        <img class="card-img-top" src="https://media.istockphoto.com/photos/beautiful-abstract-background-consisting-of-golden-pheasant-feather-picture-id927473846?k=6&m=927473846&s=612x612&w=0&h=FI7LO6oXD6dsNmauSqW4emnPrYICSyMz7IS8UO3K-QY=" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Chapter 1</h5>
          <p class="card-text">Name Of The Chapter</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
</body>
</html>