{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'home/favicon.jpg' %}"type ="image/gif" sizes="16x16">
<title>Mathematics</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'subjects/maths.css' %}">
</head>
<body>
    <nav>
        <div class="nav-wrapper #263238 blue-grey darken-4">
            <a href="{% url 'home' %}" class="brand-logo">Vaanga Padikkalam</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="MainNav" style="margin-right:5rem;" class="right hide-on-med-and-down">

                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a class='dropdown-trigger btn' style="width:150px;background: rgba(0,0,0,0.001);height:64px;padding-top:16px;box-shadow: none;" href='#' data-target='dropdown1'>Subjects</a></li>
            </ul>
        </div>
    </nav>

  <ul class="sidenav" id="mobile-demo">
    <h5 id="Logo"><a href="{% url 'home' %}">Vaanga Padikklam</a></h5>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a class='dropdown-trigger btn' href='#' data-target='dropdown1-resp'>Subjects</a></li>
  </ul>

   <!-- Dropdown Structure -->
   <ul style="left: 1162.39px !important;" id='dropdown1' class='dropdown-content'>
        <li><a href="{% url 'tamil'%}">தமிழ்</a></li>
        <li><a href="{% url 'english'%}">English</a></li>
        <li><a href="{% url 'maths'%}">Mathematics</a></li>
        <li><a href="{% url 'physics'%}">Physics</a></li>
        <li><a href="{% url 'chemistry'%}">Chemistry</a></li>
        <li><a href="{% url 'csc'%}">Computer Science</a></li>
        <li><a href="{% url 'botany'%}">Botany</a></li>
        <li><a href="{% url 'zoology'%}">Zoology</a></li>
   </ul>

   <ul id='dropdown1-resp' coverTrigger="false" class='dropdown-content'>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'tamil'%}">தமிழ்</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'english'%}">English</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'maths'%}">Mathematics</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'physics'%}">Physics</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'chemistry'%}">Chemistry</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'csc'%}">Computer Science</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'botany'%}">Botany</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'zoology'%}">Zoology</a></li>
    </ul>
    
    <div class="card_main black">
        <h2 style="margin: 0;color: white;font-family: Roboto;padding-top: 3%;text-decoration: underline;" class="center black">Mathematics</h2>
        <div style="color:white;text-align: center;overflow: hidden;margin-top: -5%;" class="carousel">
            <div class="carousel-item">
                <a href="{% url 'maths_textbook' %}"><img src="{% static 'subjects\Maths\MTV1.jpg' %}"></a>
                <h4>TextBook</h4>
            </div>
            <div class="carousel-item">
                <a href="{% url 'maths_chapter_1' %}"><img src="{% static 'subjects\Maths\MT1.jpg' %}"></a>
                <h4>Chapter 1</h4>
            </div>
            <div class="carousel-item">
                <a href="{% url 'maths_chapter_2' %}"><img src="{% static 'subjects\Maths\MT2.jpg' %}"></a>
                <h4>Chapter 2</h4>
            </div>
            <div class="carousel-item">
                <a href="{% url 'maths_chapter_3' %}"><img src="{% static 'subjects\Maths\MT3.jpg' %}"></a>
                <h4>Chapter 3</h4>
            </div>
            <div class="carousel-item">
                <a href="{% url 'maths_chapter_4' %}"><img src="{% static 'subjects\Maths\MT4.jpg' %}"></a>
                <h4>Chapter 4</h4>
            </div>
            <div class="carousel-item">
                <a href="{% url 'maths_chapter_5' %}"><img src="{% static 'subjects\Maths\MT5.jpg' %}"></a>
                <h4>Chapter 5</h4>
            </div>
            <div class="carousel-item">
                <a href="{% url 'maths_chapter_6' %}"><img src="{% static 'subjects\Maths\MT6.jpg' %}"></a>
                <h4>Chapter 6</h4>
            </div>
            <div class="carousel-item">
                <a href="{% url 'maths_chapter_7' %}"><img src="{% static 'subjects\Maths\MT7.jpg' %}"></a>
                <h4>Chapter 7</h4>
            </div>
            <div class="carousel-item">
                <a href="{% url 'maths_chapter_8' %}"><img src="{% static 'subjects\Maths\MT8.jpg' %}"></a>
                <h4>Chapter 8</h4>
            </div>
            <div class="carousel-item">
                <a href="{% url 'maths_chapter_9' %}"><img src="{% static 'subjects\Maths\MT9.jpg' %}"></a>
                <h4>Chapter 9</h4>
            </div>
            <div class="carousel-item">
                <a href="{% url 'maths_chapter_10' %}"><img src="{% static 'subjects\Maths\MT10.jpg' %}"></a>
                <h4>Chapter 10</h4>
            </div>
            <div class="carousel-item">
                <a href="{% url 'maths_chapter_11' %}"><img src="{% static 'subjects\Maths\MT11.jpg' %}"></a>
                <h4>Chapter 11</h4>
            </div>
            <div class="carousel-item">
                <a href="{% url 'maths_chapter_12' %}"><img src="{% static 'subjects\Maths\MT12.jpg' %}"></a>
                <h4>Chapter 12</h4>
            </div>
        </div>
    </div>

   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   
   <script>
      $(document).ready(function()
      {
          $('.sidenav').sidenav();
      });
      $('.dropdown-trigger').dropdown();
      $('.dropdown-trigger').dropdown({
          coverTrigger: false,
          isScrollable: false
      });
      $(document).ready(function(){
            $('.carousel').carousel();
        });
  </script>
</body>
</html>