{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathematics</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'subjects/maths.css' %}">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Vaanga Padikkalam</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="MainNav" style="margin-right:5rem;" class="right hide-on-med-and-down">

                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a class='dropdown-trigger btn' style="width:150px;" href='#' data-target='dropdown1'>Subjects</a></li>
            </ul>
        </div>
    </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a class='dropdown-trigger btn' href='#' data-target='dropdown1-resp'>Subjects</a></li>
  </ul>

   <!-- Dropdown Structure -->
   <ul style="left: 1162.39px !important;" id='dropdown1' class='dropdown-content'>
        <li><a href="#!">தமிழ்</a></li>
        <li><a href="#!">English</a></li>
        <li><a href="#!">Mathematics</a></li>
        <li><a href="#!">Physics</a></li>
        <li><a href="#!">Chemistry</a></li>
        <li><a href="#!">Computer Science</a></li>
        <li><a href="#!">Botany</a></li>
        <li><a href="#!">Zoolgy</a></li>
   </ul>

   <ul id='dropdown1-resp' coverTrigger="false" class='dropdown-content'>
        <li><a href="#!">தமிழ்</a></li>
        <li><a href="#!">English</a></li>
        <li><a href="#!">Mathematics</a></li>
        <li><a href="#!">Physics</a></li>
        <li><a href="#!">Chemistry</a></li>
        <li><a href="#!">Computer Science</a></li>
        <li><a href="#!">Botany</a></li>
        <li><a href="#!">Zoolgy</a></li>
    </ul>
          
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   
   <script>
      $(document).ready(function()
      {
          $('.sidenav').sidenav();
      });
      $('.dropdown-trigger').dropdown();
      $('.dropdown-trigger').dropdown({
          coverTrigger: false,
          isScrollable: false
      });
  </script>
</body>
</html>