{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}

        <link rel="icon" href="{% static 'home/favicon.jpg' %}"type ="image/gif" sizes="16x16">
<title>தமிழ்</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'subjects/tamil.css' %}">
</head>
<body>
    <nav>
        <div class="nav-wrapper #263238 blue-grey darken-4">
            <a href="{% url 'home' %}" class="brand-logo">Vaanga Padikkalam</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="MainNav" style="margin-right:5rem;" class="right hide-on-med-and-down">

                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a class='dropdown-trigger btn' style="width:150px;background: rgba(0,0,0,0.001);height:64px;padding-top:16px;box-shadow: none;" href='#' data-target='dropdown1'>Subjects</a></li>
            </ul>
        </div>
    </nav>

  <ul class="sidenav" id="mobile-demo">
    <h6 id="Logo"><a href="{% url 'home' %}">Vaanga Padikklam</a></h6>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a class='dropdown-trigger btn' href='#' data-target='dropdown1-resp'>Subjects</a></li>
  </ul>

   <!-- Dropdown Structure -->
   <ul style="left: 1162.39px !important;" id='dropdown1' class='dropdown-content'>
        <li><a href="{% url 'tamil'%}">தமிழ்</a></li>
        <li><a href="{% url 'english'%}">English</a></li>
        <li><a href="{% url 'maths'%}">Mathematics</a></li>
        <li><a href="{% url 'physics'%}">Physics</a></li>
        <li><a href="{% url 'chemistry'%}">Chemistry</a></li>
        <li><a href="{% url 'csc'%}">Computer Science</a></li>
        <li><a href="{% url 'botany'%}">Botany</a></li>
        <li><a href="{% url 'zoology'%}">Zoology</a></li>
   </ul>

   <ul id='dropdown1-resp' coverTrigger="false" class='dropdown-content'>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'tamil'%}">தமிழ்</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'english'%}">English</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'maths'%}">Mathematics</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'physics'%}">Physics</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'chemistry'%}">Chemistry</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'csc'%}">Computer Science</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'botany'%}">Botany</a></li>
        <li style="border-bottom: 2px solid black !important;"><a href="{% url 'zoology'%}">Zoology</a></li>
    </ul>

        <div class="card_main black">
        <h2 style="margin: 0;color: white;font-family: Roboto;padding-top: 3%;text-decoration: underline;" class="center black">தமிழ்</h2>
        <div style="color:white;text-align: center;overflow: hidden;margin-top: -5%;" class="carousel">
            <div class="carousel-item">
                <a href="{% url 'tam_textbook' %}"><img src="{% static 'subjects\Tamil\TMTB.jpg' %}"></a>
                <h6>பாடநூல்</h6>
            </div>
            <div class="carousel-item">
                <a href="{% url 'tam_unit_1' %}"><img src="{% static 'subjects\Tamil\TM1.jpg' %}"></a>
                <h6>உயிரினும் ஓம்பப் படும்</h6>
            </div>
            <div class="carousel-item">
                <a href="{% url 'tam_unit_2' %}"><img src="{% static 'subjects\Tamil\TM2.jpg' %}"></a>
                <h6>பெய்யெனப் பெய்யும் மழை</h6>
            </div>
            <div class="carousel-item">
                <a href="{% url 'tam_unit_3' %}"><img src="{% static 'subjects\Tamil\TM3.jpg' %}"></a>
                <h6>சுற்றத்தார் கண்ணே உள</h6>
            </div>
            <div class="carousel-item">
                <a href="{% url 'tam_unit_4' %}"><img src="{% static 'subjects\Tamil\TM4.jpg' %}"></a>
                <h6>செல்வத்துள் எல்லாம் தலை</h6>
            </div>
            <div class="carousel-item">
                <a href="{% url 'tam_unit_5' %}"><img src="{% static 'subjects\Tamil\TM5.jpg' %}"></a>
                <h6>நாடென்ப நாட்டின் தலை</h6>
            </div>
            <div class="carousel-item">
                <a href="{% url 'tam_unit_6' %}"><img src="{% static 'subjects\Tamil\TM6.jpg' %}"></a>
                <h6>சிறுகை அளாவிய கூழ்</h6>
            </div>
            <div class="carousel-item">
                <a href="{% url 'tam_unit_7' %}"><img src="{% static 'subjects\Tamil\TM7.jpg' %}"></a>
                <h6>அருமை உடைய செயல்</h6>
            </div>
            <div class="carousel-item">
                <a href="{% url 'tam_unit_8' %}"><img src="{% static 'subjects\Tamil\TM8.jpg' %}"></a>
                <h6>எல்லா உயிரும் தொழும்</h6>
            </div>
             <div class="carousel-item">
                <a href="{% url 'tam_extras' %}"><img src="{% static 'subjects\Tamil\TMO.jpg' %}"></a>
                <h6>மற்றவை</h6>
            </div>
            </div>
        </div>
    </div>

   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   
   <script>
      $(document).ready(function()
      {
          $('.sidenav').sidenav();
      });
      $('.dropdown-trigger').dropdown();
      $('.dropdown-trigger').dropdown({
          coverTrigger: false,
          isScrollable: false
      });
      $(document).ready(function(){
            $('.carousel').carousel();
        });
  </script>
</body>
</html>