{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'subjects/zoology.css' %}">
    <title>Zoology</title>
</head>
<body>
    <nav class="Zoology_nav">
        <!-- TODO :  -->
    </nav>
    <h1 class="heading" style="text-align: center;">ZOOLOGY</h1>
</body>
</html>