{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}

        <link rel="icon" href="{% static 'home/favicon.jpg' %}"type ="image/gif" sizes="16x16">
<title>Mathematics: Chapter-4</title>
    <link rel="stylesheet" href="{% static 'sub_maths/Chapter_1.css' %}">
    <link rel="stylesheet" href="{% static 'subjects/maths.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper #263238 blue-grey darken-4">
        <a href="{% url 'home' %}" class="brand-logo">Vaanga Padikkalam</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="MainNav" style="margin-right:5rem;" class="right hide-on-med-and-down">

            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a class='dropdown-trigger btn' style="width:150px;background: rgba(0,0,0,0.001);height:64px;padding-top:16px;box-shadow: none;" href='#' data-target='dropdown1'>Subjects</a></li>
        </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
  <h5 id="Logo"><a href="{% url 'home' %}">Vaanga Padikklam</a></h5>
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a class='dropdown-trigger btn' href='#' data-target='dropdown1-resp'>Subjects</a></li>
  </ul>

  <!-- Dropdown Structure -->
  <ul style="left: 1162.39px !important;margin-top:1rem;" id='dropdown1' class='dropdown-content'>
      <li><a href="{% url 'tamil'%}">தமிழ்</a></li>
      <li><a href="{% url 'english'%}">English</a></li>
      <li><a href="{% url 'maths'%}">Mathematics</a></li>
      <li><a href="{% url 'physics'%}">Physics</a></li>
      <li><a href="{% url 'chemistry'%}">Chemistry</a></li>
      <li><a href="{% url 'csc'%}">Computer Science</a></li>
      <li><a href="{% url 'botany'%}">Botany</a></li>
      <li><a href="{% url 'zoology'%}">Zoology</a></li>
  </ul>

  <ul id='dropdown1-resp' coverTrigger="false" class='dropdown-content'>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'tamil'%}">தமிழ்</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'english'%}">English</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'maths'%}">Mathematics</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'physics'%}">Physics</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'chemistry'%}">Chemistry</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'csc'%}">Computer Science</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'botany'%}">Botany</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'zoology'%}">Zoology</a></li>
  </ul>
    <div class="main">
        <h4 id="Chap_name" class="center" >Chapter:4  Inverse Trigonometric Functions</h4>
        <ul class="collapsible popout">
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:4.1</div>
              <div class="collapsible-body">
                <span>&#x27F6;   Some Fundamental Concepts of Inverse Trigonometric Functions</span><br>
                <span>&#x27F6;   Sine Function and Inverse Sine Function</span><br>
                <br>
                <a href="https://drive.google.com/u/0/uc?id=1PbkC1g8RUIik4LLJwjP-AskEWgMbofUD&export=download" style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/1PbkC1g8RUIik4LLJwjP-AskEWgMbofUD/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:4.2</div>
              <div class="collapsible-body">
                <span>&#x27F6;  The Cosine Function and Inverse Cosine Function</span><br>
                <br>
                <a href="https://drive.google.com/u/0/uc?id=1qaC2nt6T8-TWGWdAl6wnGUSur1poRiPw&export=download"  style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/1qaC2nt6T8-TWGWdAl6wnGUSur1poRiPw/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:4.3</div>
              <div class="collapsible-body">
                <span>&#x27F6;   The Tangent Function and the Inverse Tangent Function</span><br>
                <br>
                <a href="https://drive.google.com/u/0/uc?id=1kohsFEUnCYmFgacBivr2VibKr-9cdfP3&export=download"  style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/1kohsFEUnCYmFgacBivr2VibKr-9cdfP3/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:4.4</div>
              <div class="collapsible-body">
                <span>&#x27F6;  Cosecant Function and the Inverse Cosecant Function</span><br>
                <span>&#x27F6;  The Secant Function and Inverse Secant Function</span><br>
                <span>&#x27F6;  The Cotangent Function and the Inverse Cotangent Function</span><br>
                <span>&#x27F6;  Principal Value of Inverse Trigonometric Functions</span><br>
                <br>
                <a href="https://drive.google.com/u/0/uc?id=13gCWCFB7o99Rrp1jPRJ6tnbDGe-QW_A9&export=download"  style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/13gCWCFB7o99Rrp1jPRJ6tnbDGe-QW_A9/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:4.5</div>
              <div class="collapsible-body">
                <span>&#x27F6;   Properties of Inverse Trigonometric Functions</span><br>
                <span>&#x27F6;   Solved Example Problems on Inverse Trigonometric Functions</span><br>
                <br>
                <a href="https://drive.google.com/u/0/uc?id=1bTh4gx0lkvHiR2r4QcYo-dUUHJufKUj4&export=download"  style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/1bTh4gx0lkvHiR2r4QcYo-dUUHJufKUj4/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:4.6</div>
              <div class="collapsible-body">
                <span>&#x27F6;  Inverse Trigononmetric Functions:One matrks</span><br>
                <br>
                <a href="https://drive.google.com/u/0/uc?id=137EoUo-Uga9JGh__6Ilc0Qng4vQTajGW&export=download"  style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/137EoUo-Uga9JGh__6Ilc0Qng4vQTajGW/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
        </ul>
    </div>
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        M.AutoInit();
        $('.dropdown-trigger').dropdown({
          coverTrigger: false,
          isScrollable: false
        });
    </script>
</body>
</html>

<!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am 