{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}

        <link rel="icon" href="{% static 'home/favicon.jpg' %}"type ="image/gif" sizes="16x16">
<title>Mathematics: Chapter-6</title>
    <link rel="stylesheet" href="{% static 'sub_maths/Chapter_1.css' %}">
    <link rel="stylesheet" href="{% static 'subjects/maths.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper #263238 blue-grey darken-4">
        <a href="{% url 'home' %}" class="brand-logo">Vaanga Padikkalam</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="MainNav" style="margin-right:5rem;" class="right hide-on-med-and-down">

            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a class='dropdown-trigger btn' style="width:150px;background: rgba(0,0,0,0.001);height:64px;padding-top:16px;box-shadow: none;" href='#' data-target='dropdown1'>Subjects</a></li>
        </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
  <h5 id="Logo"><a href="{% url 'home' %}">Vaanga Padikklam</a></h5>
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a class='dropdown-trigger btn' href='#' data-target='dropdown1-resp'>Subjects</a></li>
  </ul>

  <!-- Dropdown Structure -->
  <ul style="left: 1162.39px !important;margin-top:1rem;" id='dropdown1' class='dropdown-content'>
      <li><a href="{% url 'tamil'%}">தமிழ்</a></li>
      <li><a href="{% url 'english'%}">English</a></li>
      <li><a href="{% url 'maths'%}">Mathematics</a></li>
      <li><a href="{% url 'physics'%}">Physics</a></li>
      <li><a href="{% url 'chemistry'%}">Chemistry</a></li>
      <li><a href="{% url 'csc'%}">Computer Science</a></li>
      <li><a href="{% url 'botany'%}">Botany</a></li>
      <li><a href="{% url 'zoology'%}">Zoology</a></li>
  </ul>

  <ul id='dropdown1-resp' coverTrigger="false" class='dropdown-content'>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'tamil'%}">தமிழ்</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'english'%}">English</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'maths'%}">Mathematics</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'physics'%}">Physics</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'chemistry'%}">Chemistry</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'csc'%}">Computer Science</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'botany'%}">Botany</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'zoology'%}">Zoology</a></li>
  </ul>
    <div class="main">
        <h4 id="Chap_name" class="center" >Chapter:6 Applications of Vector Algebra</h4>
        <ul class="collapsible popout">
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:6.1</div>
              <div class="collapsible-body">
                <span>&#x27F6;  Geometric introduction to vectors</span><br>
                <span>&#x27F6;  Scalar Product and Vector Product</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=17ZMqbRsdN8e3MlrH6iUaFhJmzcslm5EZ&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/17ZMqbRsdN8e3MlrH6iUaFhJmzcslm5EZ/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:6.2</div>
              <div class="collapsible-body">
                <span>&#x27F6;  Scalar triple product</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=1AFoMyQ2O5s09tRQYy9LKKn93o6EPt9s7&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/1AFoMyQ2O5s09tRQYy9LKKn93o6EPt9s7/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:6.3</div>
              <div class="collapsible-body">
                <span>&#x27F6;  Vector triple product</span><br>
                <span>&#x27F6;   Jacobi’s Identity and Lagrange’s Identity</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=1MjLgmkRPlkFRc7EU5Lcbkf4ipv7eeFV8&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/1MjLgmkRPlkFRc7EU5Lcbkf4ipv7eeFV8/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:6.4</div>
              <div class="collapsible-body">
                <span>&#x27F6;   Parametric form of Conics</span><br>
                <span>&#x27F6;   Tangents and Normals to Conics</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=12V-_cXq5QtoJbbNIm2rajmecALJq9h_a&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/12V-_cXq5QtoJbbNIm2rajmecALJq9h_a/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:6.5</div>
              <div class="collapsible-body">
                <span>&#x27F6;  A point on the straight line and the direction of the straight line</span><br>
                <span>&#x27F6;  Straight Line passing through two given points</span><br>
                <span>&#x27F6;  Angle between two straight lines</span><br>
                <span>&#x27F6;  Point of intersection of two straight lines</span><br>
                <span>&#x27F6;  Shortest distance between two straight lines</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=1TwbxPuysnYAsAQZBs2plZ0_Sx0QfI0B9&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/1TwbxPuysnYAsAQZBs2plZ0_Sx0QfI0B9/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:6.6</div>
              <div class="collapsible-body">
                <span>&#x27F6;  Different forms of Equation of a planeTwo Dimensional Analytical Geometry II:One matrks</span><br>
                <span>&#x27F6;  Equation of a plane when a normal to the planeTwo Dimensional Analytical Geometry II:One matrks</span><br>
                <span>&#x27F6;  Equation of a plane perpendicular to a vector and passing through a given pointTwo Dimensional Analytical Geometry II:One matrks</span><br>
                <span>&#x27F6;  Intercept form of the equation of a planeTwo Dimensional Analytical Geometry II:One matrks</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=1kAeEyotahXp2igSNJTcoygMhlbA7gICs&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/1kAeEyotahXp2igSNJTcoygMhlbA7gICs/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">school</i>Exercise:6.7</div>
                <div class="collapsible-body">
                    <span>&#x27F6;  Equation of a plane passing through three given non-collinear pointsTwo Dimensional Analytical Geometry II:One matrks</span><br>
                    <span>&#x27F6;  Equation of a plane passing through a given point and parallel to two given non-parallel vectorsTwo Dimensional Analytical Geometry II:One matrks</span><br>
                    <span>&#x27F6;  Equation of a plane passing through two given distinct points and is parallel to a non-zero vectorTwo Dimensional Analytical Geometry II:One matrks</span><br>
                    <br>
                  <a href="https://drive.google.com/u/0/uc?id=19f69BN3akMZKf5bwda40G0D2Kl3A26Df&export=download" style="margin-right: .7rem;">
                    <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                  </a>
                  <a href="https://drive.google.com/file/d/19f69BN3akMZKf5bwda40G0D2Kl3A26Df/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">school</i>Exercise:6.8</div>
                <div class="collapsible-body">
                  <span>&#x27F6;  Condition for a line to lie in a plane</span><br>
                  <span>&#x27F6;  Condition for coplanarity of two lines</span><br>
                  <span>&#x27F6;  Equation of plane containing two non-parallel coplanar lines</span><br>
                  <br>
                  <a href="https://drive.google.com/u/0/uc?id=1r0DAWe9HNeoq-W_MzHnNTXUUHQCry9QT&export=download" style="margin-right: .7rem;">
                    <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                  </a>
                  <a href="https://drive.google.com/file/d/1r0DAWe9HNeoq-W_MzHnNTXUUHQCry9QT/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">school</i>Exercise:6.9</div>
                <div class="collapsible-body">
                  <span>&#x27F6;  Angle between two planes</span><br>
                  <span>&#x27F6;  Angle between a line and a plane</span><br>
                  <span>&#x27F6;  Distance of a point from a plane</span><br>
                  <span>&#x27F6;  Distance between two parallel planes</span><br>
                  <span>&#x27F6;  Equation of line of intersection of two planes</span><br>
                  <span>&#x27F6;  Equation of a plane passing through the line of intersection of two given planes</span><br>
                  <span>&#x27F6;  Image of a Point in a Plane</span><br>
                  <span>&#x27F6;  Meeting Point of a Line and a Plane</span><br>
                  <br>
                  <a href="https://drive.google.com/u/0/uc?id=1Rir11V85vLLUcrqQjAw05kQCQXmy4ysJ&export=download" style="margin-right: .7rem;">
                    <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                  </a>
                  <a href="https://drive.google.com/file/d/1Rir11V85vLLUcrqQjAw05kQCQXmy4ysJ/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">school</i>Exercise:6.10</div>
                <div class="collapsible-body">
                  <span>&#x27F6;   Applications of Vector Algebra:one marks</span><br>
                
                  <br>
                  <a href="https://drive.google.com/u/0/uc?id=1I1wbP_PIoFxvA5zQXs6yym1i-vkhnCc4&export=download" style="margin-right: .7rem;">
                    <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                  </a>
                  <a href="https://drive.google.com/file/d/1I1wbP_PIoFxvA5zQXs6yym1i-vkhnCc4/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
                </div>
              </li>
        </ul>
    </div>
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        M.AutoInit();
        $('.dropdown-trigger').dropdown({
          coverTrigger: false,
          isScrollable: false
        });
    </script>
</body>
</html>

<!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am <!-- <a class="btn tooltipped" data-position="top" data-tooltip="I am 