{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'home/favicon.jpg' %}"type ="image/gif" sizes="16x16">
<title>Mathematics: Chapter-8</title>
    <link rel="stylesheet" href="{% static 'sub_maths/Chapter_1.css' %}">
    <link rel="stylesheet" href="{% static 'subjects/maths.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper #263238 blue-grey darken-4">
        <a href="{% url 'home' %}" class="brand-logo">Vaanga Padikkalam</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="MainNav" style="margin-right:5rem;" class="right hide-on-med-and-down">

            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a class='dropdown-trigger btn' style="width:150px;background: rgba(0,0,0,0.001);height:64px;padding-top:16px;box-shadow: none;" href='#' data-target='dropdown1'>Subjects</a></li>
        </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
  <h5 id="Logo"><a href="{% url 'home' %}">Vaanga Padikklam</a></h5>
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a class='dropdown-trigger btn' href='#' data-target='dropdown1-resp'>Subjects</a></li>
  </ul>

  <!-- Dropdown Structure -->
  <ul style="left: 1162.39px !important;margin-top:1rem;" id='dropdown1' class='dropdown-content'>
      <li><a href="{% url 'tamil'%}">தமிழ்</a></li>
      <li><a href="{% url 'english'%}">English</a></li>
      <li><a href="{% url 'maths'%}">Mathematics</a></li>
      <li><a href="{% url 'physics'%}">Physics</a></li>
      <li><a href="{% url 'chemistry'%}">Chemistry</a></li>
      <li><a href="{% url 'csc'%}">Computer Science</a></li>
      <li><a href="{% url 'botany'%}">Botany</a></li>
      <li><a href="{% url 'zoology'%}">Zoology</a></li>
  </ul>

  <ul id='dropdown1-resp' coverTrigger="false" class='dropdown-content'>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'tamil'%}">தமிழ்</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'english'%}">English</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'maths'%}">Mathematics</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'physics'%}">Physics</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'chemistry'%}">Chemistry</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'csc'%}">Computer Science</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'botany'%}">Botany</a></li>
      <li style="border-bottom: 2px solid black !important;"><a href="{% url 'zoology'%}">Zoology</a></li>
  </ul>
    <div class="main">
        <h4 id="Chap_name" class="center" >Chapter: Differentials and Partial Derivatives</h4>
        <ul class="collapsible popout">
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:8.1</div>
              <div class="collapsible-body">
                <span>&#x27F6;   Linear Approximation and Differentials</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=17CLZCJtUnyz4LzwP14mecU1xfuhlVp2d&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/17CLZCJtUnyz4LzwP14mecU1xfuhlVp2d/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:8.2</div>
              <div class="collapsible-body">
                <span>&#x27F6;  Differentials</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=1OUc8Cb9nXXuwtv5QpGut92vKX3mX6h07&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/1OUc8Cb9nXXuwtv5QpGut92vKX3mX6h07/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:8.3</div>
              <div class="collapsible-body">
                <span>&#x27F6;   Functions of Several Variables</span><br>
                <br>
                <span>&#x27F6;   Limit and Continuity of Functions of Two Variables</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=1fM2nVyh14SpLTA8UNFaMUQMkqH8_Ykf0&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/1fM2nVyh14SpLTA8UNFaMUQMkqH8_Ykf0/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:8.4</div>
              <div class="collapsible-body">
                <span>&#x27F6;  Partial Derivatives</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=1KUxJr3ebEVmMKYLgrLT_D3uKEfEsv2YW&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/1KUxJr3ebEVmMKYLgrLT_D3uKEfEsv2YW/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:8.5</div>
              <div class="collapsible-body">
                <span>&#x27F6;   Linear Approximation and Differential of a function of Several Variables</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=1VeMIOTq6kqXEQKFP1Moa68ZUN1wrn-Zu&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/1VeMIOTq6kqXEQKFP1Moa68ZUN1wrn-Zu/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:8.6</div>
              <div class="collapsible-body">
                <span>&#x27F6; Function of Function Rule</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=14W7CMHImeMlB1twWiPJkFnD9rz8hEFhX&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/14W7CMHImeMlB1twWiPJkFnD9rz8hEFhX/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:8.7</div>
              <div class="collapsible-body">
                <span>&#x27F6; Homogeneous Function and Euler's Theorem</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=188u6n3JGG3qa8JoeGyrRfUlNi2JSqAZz&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/188u6n3JGG3qa8JoeGyrRfUlNi2JSqAZz/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">school</i>Exercise:8.8</div>
              <div class="collapsible-body">
                <span>&#x27F6; Differentials and Partial Derivatives: One Marks</span><br>
                <br>
               <a href="https://drive.google.com/u/0/uc?id=1E-NzIMxXpVdmhDhU0nXZTKY-mf_bUe2O&export=download" 
 style="margin-right: .7rem;">
                  <button class="btn"><i class="fa fa-download"></i>  Download Now!</button>
                </a>
                <a href="https://drive.google.com/file/d/1E-NzIMxXpVdmhDhU0nXZTKY-mf_bUe2O/view?usp=sharing" target="_blank"> <button class="btn"><i style="font-size: 24px;" class="fas">&#xf5da;</i>  Read Online!</button></a>
              </div>
            </li>
        </ul>
    </div>
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        M.AutoInit();
        $('.dropdown-trigger').dropdown({
          coverTrigger: false,
          isScrollable: false
        });
    </script>
</body>
</html>
