{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sub_maths/Chapter_1.css' %}">
    <title>Chapter 1:Applications of  Matrices and Deteminants</title>
</head>
<body>
    <div class="nav">
        
    </div>
    <h1>Chapter 1</h1>
    <br>
    <h2>Applications of Matrices and Deteminants</h2>
    <br>
    <div class="chapter_1">
        <ul>
            <li><a href="#"></a>Exercise:1.1</li>
            <li><a href="#"></a>Exercise:1.2</li>
            <li><a href="#"></a>Exercise:1.3</li>
            <li><a href="#"></a>Exercise:1.4</li>
            <li><a href="#"></a>Exercise:1.5</li>
            <li><a href="#"></a>Exercise:1.6</li>
            <li><a href="#"></a>Exercise:1.7</li>
            <li><a href="#"></a>Exercise:1.8</li>
        </ul>
    </div>
</body>
</html>