*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    margin-top: -16px;
}

body{
    background-image: url("https://miro.medium.com/max/11490/1*DmnHAXJQYsMGbJUke8lmrQ.jpeg");
    background-attachment:fixed;
}
.heading{
    font-size: 3.5rem;
    font-family: cursive;
    font-style: italic;
    font-weight: bolder;
    color:lavenderblush;
    padding-left:2rem;
}
.eng_nav
{
    background:black;
    height:80px;
    /* margin:30px; */
}
#list
{
    list-style: none;
}
li
{
    float: right;
    padding-top: 25px;
    padding-right: 40px;
    font-size: 20px;
    font-weight: bolder;
    font-family: cursive;
    color: white;
    text-align: center;
}
a{
    text-decoration: none;
    color:rgb(240, 108, 240);
}
div{
    color:rgb(243, 29, 29);
    height:900px;
    width:500px;
}