/* Started working on the Project! on 28=06-2020 22:18 */

@font-face{
    font-family: navFont;
    src: url('./beaver.ttf');
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: sans-serif;
}

nav{
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.9);
}

ul li a:hover{
    text-decoration: none;
}

nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.logo{
    font-family: navFont;
    font-size: 2.5rem;
    color: rgba(255, 69, 0, 0.8);
    line-height: 80px;
    padding-left: 10px;
    margin-right: 10px;
}

a.active,li a:hover{
    background-color: white;
    color: black;
    transition: .5s;
}

.main{
    width: 100%;
    height: calc(100vh - 80px);
    background: #ffffff1a
}

.menu_btn{
    background: rgba(0, 0, 0, 0.7);
    color: orangered;
    padding: 0 20px;
    font-size: 30px;
    line-height: 80px;
    float: right;
    cursor: pointer;
    display: none;
}

.menu_btn:hover{
    background-color: white;
    transition: all .4s;
}

#check{
    display: none;
}

#gotop{
    border-radius: 100%;
    background-color: black;
    color: white;
    transform: translateY(75vh) translateX(90vw);
    position: fixed;
    cursor: pointer;
    z-index: 9999999999;
}

#home{
    height: calc(100vh - 80px);
    width: 100%;
    background: rgb(13, 32, 84);
    color: white;
}

.home_image{
    margin-top: 2rem;
    margin-left: 25rem;
    height: 350px;
    width: 400px;
    z-index: 1;
}

#home{
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
}

#about{
    width: 100%;
    height: 100vh;
    background-color: red;
}

#team{
    width: 100%;
    height: 100vh;
    background-image: url("./team_menu_bg.jpg");
    z-index: 1;
}

#team h1{
    text-align: center;
    padding-top: 4rem;
    text-transform: uppercase;
    font-family: sans-serif;
}

#team h1::after{
    content: "";
    width: 12rem;
    height: .4rem;
    background-color: rgb(0, 255, 149);
    position: absolute;
    margin-top: 3rem;
    transform: translateX(-175%) translateY(50%);
    border-radius: 5px;
}

.mycard{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    height: 22rem;
    width: 20rem;
    margin: 5rem 32.5rem;
}

.upcard{
    width: 100%; 
    height: 20rem;
    clip-path: polygon(0 0, 100% 0, 100% 28%, 0 57%);
    object-fit: cover;
}

img{
    height: 1rem;
    width: 1rem;
}

#Thanos_img{
    transform: translateY(-140%) translateX(50%);
    border: 5px solid white;
}

#thanos_name{
    transform: translateY(-750%) translateX(20%);
}

#thanos_desc{
    transform: translateY(-1050%) translateX(30%);
}

.mycard{
    height: 22rem;
    width: 20rem;
    margin: 5rem 32.5rem;
    background-color: #ffffff;
}

.upcard{
    width: 100%; 
    height: 20rem;
    clip-path: polygon(0 0, 100% 0, 100% 28%, 0 56%);
    background-image: url("https://ak.picdn.net/shutterstock/videos/1032366341/thumb/1.jpg?ip=x480");
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

#Thanos_img{
    transform: translateY(-140%) translateX(50%);
    border: 5px solid white;
}

#thanos_desc{
    transform: translateY(-1000%) translateX(30%);
}
.carousel-control-prev:hover{
    background-color: rgba(0, 0, 0, 0.0001);
}
.carousel-control-next:hover{
    background-color: rgba(0, 0, 0, 0.0001);
}

img{
    height: 50%;
    width: 50%;
}

#sri_img, #vj_img{
    transform: translateY(-140%) translateX(50%);
    border: 5px solid white;
}

#sri_name, #vj_name{
    transform: translateY(-750%) translateX(20%);
    margin-bottom: 10px;
}

#content{
    width: 100%;
    height: 100vh;
    background: url("https://ae01.alicdn.com/kf/HTB1yqI0XZvrK1Rjy0Feq6ATmVXac/Laeacco-Books-Wooden-Bookshelf-Library-Study-Bokeh-Child-Portrait-Photography-Backdrops-Photo-Backgrounds-Photocall-Photo-Studio.jpg") no-repeat center/cover;
    color: #ffffff;
}

#content h1{
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    padding: 2rem 0;
}

#content a{
    color: white;
    background-color: #3A3042;
}

.content_list li{
    padding: 1rem;
    margin: 3rem;
    font-size: x-large;
    width: 15%;
    background-color: #3A3042;
    font-weight: bold;
    border-radius: 15%;
}

#content2{
    width: 75vw;
    transform: translateX(20rem) translateY(-29rem);
}

#content2 li{
    width: 20%;
}



.content_list_resp{
    display: none;
}

@media (max-width:870px){
    nav ul li a{
        font-size: 15px;
    }
}

@media (max-width:858px){

    #content h1{
        margin-bottom: 3rem;
    }

    #content a{
        color: white;
        background-color: #3A3042;
    }

    /* #content a:active{
        background-color: #3A3042;
        color: white;
    } */

    .content_list{
        display: none;
    }

    .content_list_resp{
        display: block;
    }

    .content_list_resp li{
        /* color: white; */
        display: block;
        background-color: rgb(58, 48, 66, 0.9);
        /* width: 40%; */
        padding: 1rem;
        margin: 1rem;
        margin-bottom: 1.5rem;
    }

    #sep_list li{
        width: 40%;
    }

    #content2_resp{
        transform: translateY(-20rem) translateX(11rem);
    }

    #content2_resp{
        width: 11rem;
    }


    #vj_img,#sri_img,#Thanos_img{
    border-radius: 100%;
    height: 7.5rem;
    width: 7.5rem;
    transform: translateY(-210%) translateX(60%)
    }

    .upcard{
        clip-path: polygon(0 0, 100% 0, 100% 23%, 0 46%);
    }

    #team h1{
        font-size: 1.5rem;
    }

    #team h1::after{
        width: 8rem;
        margin-left: 1.5rem;
        margin-top: 35px;
    }

    .mycard{
        margin-top: 5rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        width: 77.5vw;
        height: 45vh;
    }

    .menu_btn{
        display: block;
    }

    .home_image{
        margin: 2rem 1rem;
        height: 260px;
        width: 325px;
    }

    #home{
        font-size: 18px;
    }

    .logo{
        font-size: 1.75rem;
    }

    #gotop{
        transform: translateY(75vh) translateX(75vw);
        z-index: 9999999;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    nav ul li a{
        font-size: 18px;
    }

    a:hover,a:active{
        background: none;
        color: rgba(0, 0, 0, 0.95);
    }

    #check:checked ~ ul{
        left: 0;
    }
}

#mm{
    font-size: 40px;
}


.feedback
{
    height: 40vh;
    width: calc(100vw - 17px);
}
.feedback_heading
{
   text-align:center;
}

.feedback_para{
    font-size: 2rem;
    margin-left: 2rem;
}

.feedback_question{
    margin-left: 2rem;
    font-size: 1.5rem;
}

#feedback_text{
    margin-left: 2rem;
}

.submit_button{
    font-family: sans-serif;
    text-align: center;
    margin-left: 2rem;
    height: 3.5rem;
    width: 7rem;
    border: 2px solid #007bff;
    border-radius: 10%;
    background-color: white;
}
.submit_button:hover{
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}      